<div class="my-5"></div><footer class="text-center text-lg-start">
    <div class="container p-1 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-4 footer-column">
                <h4 class="footer-header">O nas</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="col-md-4 footer-column">
                <h4 class="footer-header">Kontakt</h4>
                <div class="contact-item">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Sucharskiego 2, 35-225 Rzeszów</span>
                </div>
                <div class="contact-item">
                    <i class="fa-regular fa-envelope"></i>
                    <span>ember&#64;example.com</span>
                </div>
                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <span>+48 123 456 678</span>
                </div>
            </div>
            <div class="col-md-4 footer-column text-center">
                <h4 class="footer-header">Obserwuj nas</h4>
                <a href="http://www.facebook.com" target="_blank" class="footer-social"><i class="fa-brands fa-facebook"></i></a>
                <a href="http://www.instagram.com" target="_blank" class="footer-social"><i class="fa-brands fa-instagram"></i></a>
                <a href="http://www.youtube.com" target="_blank" class="footer-social"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
